[submodule "MobyDick"]
	path = MobyDick
	url = https://github.com/dogstar25/MobyDick_NEW.git
	branch = feature/md-crossplatform-filesystem
[submodule "BobbysBurden"]
	path = BobbysBurden
	url = https://github.com/dogstar25/BobbysBurden.git
	branch = feature/bb-crossplatform-filesystem
